
.login {
    margin: -100px 0 0 0;
    width: 375px;
    background: url("../images/image 27.png") no-repeat top center;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin: 313px 0 0 0;
    padding: 0 24px 50px 24px;
    background-color: #222232;
    border-radius: 30px;
}

.login__line {
    display: flex;
    margin: 18px auto 18px auto;
    width: 66px;
    height: 5px;
    background-color: var(--text-color);
    opacity: 0.1;
}

.login__title {
    margin: 0 0 32px 0;
    width: 100%;
    font-size: 28px;
    color: var(--text-color);
}

.login__field {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 23px 16px;
    width: 325px;
    background: var(--bg-color);
}

.login__input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    color: var(--secondary-color);
    font-size: 18px;
}

.login__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.login__hide {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.login__field--password {
    margin: 24px 0 0 0;
}

.login__button {
    margin: 40px 0 0 0;
}

.button {
    width: 100%;
    padding: 20px 0;
    background: var(--btn-color);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
}

.matches {
    margin: 28px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.matches__item {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.matches__teams {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matches__team1, .matches__team2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.matches__team1 {
    box-sizing: content-box;
    z-index: 99;
    border: 3px solid #222232;
}

.matches__team2 {
    margin: 0 -0 0 -6px;
}

.matches__img {
    width: 25px;
    height: 25px;
}

.matches__name, .players__name {
    color: var(--text-color);
}

.players__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.matches__date, .players__date {
    font-size: 14px;
    color: var(--secondary-color);
}

.matches__result {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    text-align: center;
}

.matches__team_name1, .matches__team_name2 {
    width: 150px;
}

.team {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.team__background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.team__img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.team__title {
    font-size: 24px;
}

.players, .teams {
    display: flex;
    flex-direction: column;
}

.players {
    margin: 15px 0 0 0;
    gap: 5px;
}

.teams {
    margin: 25px 0 0 0;
    gap: 15px;
}

.players__item, .teams__item {
    display: flex;
    flex-direction: row;
}

.players__item {
    gap: 15px;
}

.teams__item {
    gap: 25px;
}

.players__logo, .teams__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.teams__image {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.players__image {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    object-fit: cover;
}

.players__name, .teams__name {
    display: flex;
    align-items: center;
}

.players__name {
    font-size: 18px;
}

.teams__name, .teams__link {
    font-size: 20px;
}

.season {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.season__title {
    font-size: 20px;
}

.season__result-list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    background-color: var(--bg-color)9;
    border-radius: 20px;
}

.season__title-name {
    display: flex;
    flex-direction: row;
}

.season__column-team {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px 0 10px 15px;
    width: 200px;
    align-items: center;
}

.season__column-result {
    display: flex;
    padding: 10px 0;
    width: 43px;
    border-bottom: 1px solid #222232;
    align-items: center;
}

.season__image {
    width: 35px;
    height: 35px;
    object-fit: cover;
}


